body{
    font-family:'mada';
    

 }
 div{
   font-weight: b;
   font-size: 15px;
 }
 #this
 {
   background-color:aliceblue;
 }


#vikas
{
font-family:'Mada';
font-size: 15px;
}
h2{
font-family: 'Mada';
}

.vikas
{
color:white;
font-family: cursive;
}

.s1
{
color:white;
font-family: cursive;
}

.s2
{
color:white;
font-family: cursive;
}

.s3
{
color:white;
font-family: cursive;
}